.search-not-found {
  position: relative;

  .form-control {
    padding-right: 2rem;
  }

  .remove-search {
    background-color: transparent;
    color: var(--bs-primary);
    font-size: 16px;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 65px;
    padding: 0;
    transform: translateY(-50%);
    z-index: 6;
  }
}

.search-not-found {
  .form-control {
    &:focus {
      z-index: 1;
    }
  }
  .remove-fullsearch {
    color: var(--bs-primary);
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 65px;
    z-index: 1;
    font-size: 12px;
    line-height: 0;
  }
}

.search-short-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    .search-short-panel-link {
        cursor: pointer;
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 600;
        padding: .125rem .625rem;
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius-pill);
        transition: all .3s ease 0s;
        &:hover {
            background-color: var(--bs-primary);
            border-color: var(--bs-primary);
            color: var(--bs-white);
        }
    }
}

.popular-search-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .popular-search-panel-link {
        cursor: pointer;
        padding: .75rem;
        background: rgba(var(--bs-gray-900-rgb),.5);
        border-radius: var(--bs-border-radius);
        transition: all .3s ease 0s;
        &:hover {
            color: var(--bs-primary);
            background: var(--bs-gray-900);
            i {
                color: var(--bs-body-color);
            }
        }
    }
}
.search-filter-data {
    .label {
        line-height: 1rem;
        font-weight: 600; 
    }
    .search-filter-item {
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 600;
        padding: .125rem .625rem;
        border: 1px solid var(--bs-primary);
        background: var(--bs-primary-bg-subtle);
        border-radius: var(--bs-border-radius-pill);
    }
    .search-clear-btn {
        color: var(--bs-heading-color);
        font-weight: 600;
    }
}