.add-block {
    background: transparent;
    border: transparent;

    i {
        background: var(--bs-dark);
        height: 55px;
        width: 55px;
        line-height: 55px;
        display: block;
        border-radius: 100%;
        margin-bottom: .8rem;
    }

    small {
        display: block;
    }
}

.select-profile-card {
    .pencil-icon {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
        display: block;
        border-radius: 100%;
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 20px;
        cursor: pointer;
    }
}

.profile-card-lists {
    position: relative;
    min-height: 7.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 0;
}

.profile-card {
    position: relative;
    text-align: center;
    transition: all .3s ease 0s;

    &:hover {
        transform: translateY(-5px);

        .profile-card-image {
            border-color: var(--bs-primary);
        }
    }

    .profile-card-image {
        margin-bottom: .5rem;
        position: relative;
        border: .18rem solid transparent;
        border-radius: var(--bs-border-radius);

        img {
            min-width: 194px;
            max-height: 194px;
            object-fit: cover;
            border-radius: var(--bs-border-radius);

        }

        .edit-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            height: 2.5rem;
            width: 2.5rem;
            line-height: 2.5rem;
            margin: 0 auto;
            background: rgba(var(--bs-dark-rgb), .5);
            border-radius: var(--bs-border-radius);
            color: var(--bs-heading-color);
            border: none;
            display: none;
        }
    }

    &.is-edit {
        .profile-card-image {
            .edit-icon {
                display: block;
            }
        }
    }
}

.profile-item.active {
    background: var(--bs-primary) !important;
    border: 1px solid var(--bs-primary);
}