.search-not-found {
    .remove-search {
        right: auto;
        left: 70px;
    }
    .form-control {       
        border-radius: 0 !important;
        padding-left: 3rem;
        padding-right: 1.5rem;
    }
}