.section-wraper{
  position: relative;
  z-index: 0;
}

.section-wraper:has(.slick-general .slick-item:hover){
  z-index: 1;
}

.iq-card {
  .block-images {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 0.6s ease 0s;
    overflow: hidden;
    > a {
      z-index: 99;
    }
    .image-box {
      border-radius: 0.1875rem;
      overflow: hidden;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(0deg, #0c0b11 8.71%, rgba(12, 11, 17, 0) 72.11%);
        border-radius: 0.1875rem;
        width: 100%;
        height: 100%;
        bottom: 0;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        border-radius: var(--bs-border-radius);
      }
      img {
        mix-blend-mode: overlay;
        aspect-ratio: 2/2.8;
        border-radius: var(--bs-border-radius);
      }
      .product-new {
        position: absolute;
        top: .875rem;
        left: .875rem;
        background: var(--bs-primary);
        color: var(--bs-white);
        padding: .375rem .625rem;
        border-radius: .25rem;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      .product-premium {
        position: absolute;
        top: .875rem;
        left: auto;
        right: 1rem;
        background: var(--bs-warning);
        color: var(--bs-white);
        border-radius: 100%;
        height: 1.75rem;
        width: 1.75rem;
        line-height: 1.9rem;
        text-align: center;
        z-index: 100;
        padding: 0;
        i {
          font-size: $font-size-sm;
        }
      }
      .product-rent {
        position: absolute;
        top: .875rem;
        left: auto;
        right: 1rem;
        background: var(--bs-success);
        color: var(--bs-white);
        border-radius: var(--bs-border-radius);
        text-align: center;
        z-index: 100;
        font-size: .75rem;
        padding: .3rem .5rem;
        line-height: 0;
        display: flex;
        align-items: center;
        gap: .2rem;
        i {
          font-size: $font-size-sm;
        }
      }
      .ratting-value {
        background: var(--bs-yellow);
        color: var(--bs-white);
        padding: .3rem .5rem;
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: .75rem;
        border-radius: var(--bs-border-radius);
        z-index: 100;
        line-height: 0;
      }
    }

    .card-description {
      width: auto;
      padding: 1.25rem 0;
      z-index: 9;
      transition: all 0.4s ease-in-out;
      transform: translate3d(0, 0, 0);
      -webkit-font-smoothing: antialiased;
      .genres-list {
        list-style: none;
        li {
          position: relative;
          font-weight: 600;

          &::after{
            content: "";
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: var(--bs-body-color);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -19px;
          }

          &:last-child {
            list-style: none;

            &::after{
              content: none;
            }
          }
        }
      }
      .movie-time-text {
        color: var(--bs-body-color);
        font-size: 0.75rem;
      }
      .watch-list-btn {
        height: 40px;
        width: 40px;
        min-width: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
      }
    }
    &::after {
      position: absolute;
      content: "";
      border: 1.25rem solid var(--bs-gray-900);
      bottom: -3.2rem;
      left: -1.20rem;
      right: -1.20rem;
      top: -1.20rem;
      opacity: 0;
      transition: all 0.1s ease-in-out;
      visibility: hidden;
      background: transparent;
      border-radius: var(--bs-border-radius);
    }
  }
}

// card hover style start
// .card-hover {
//   &:hover {
//     .block-images {
//       z-index: 99;
//       transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(31.25rem);
//       transform-origin: 50% 50%;
//       transition: all 0.6s ease 0s;
//       box-shadow: none;
//       transition-delay: 0.2s;
//       overflow: visible;
//       .image-box {
//         background: transparent;

//         img {
//           mix-blend-mode: inherit;
//         }

//         &::before {
//           opacity: 1;
//         }
//       }
//       .card-description {
//         background: var(--bs-gray-900);
//         &.with-transition {
//           opacity: 1;
//           visibility: visible;
//           transition-delay: 0.2s;
//         }
//       }
//       &::after {
//         opacity: 1;
//         transition: all 0.2s ease-in-out;
//         visibility: visible;
//         transition-delay: 0.2s;
//       }
//     }
//   }
// }

// .slick-item {
//   &:has(+.first){
//     .card-hover {
//       pointer-events: none;
//     }
//   }

//   &.first {
//     .card-hover {
//       &:hover {
//         .block-images {
//           transform: scale3d(1.1, 1.1, 1) translate3d(12%, 0, 0) perspective(31.25em);
//         }
//       }
//     }
//   }

//   &.last {
//     .card-hover {
//       &:hover {
//         .block-images {
//           transform: scale3d(1.1, 1.1, 1) translate3d(-12%, 0, 0) perspective(31.25em);
//         }
//       }
//     }

//     &:has(+ .slick-slide) {
//       .card-hover {
//         &:hover {
//           .block-images {
//             transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0) perspective(31.25rem);
//           }
//         }
//       }
//     }

//     &+.slick-slide {
//       .card-hover {
//         pointer-events: none;
//       }
//     }
//   }
// }

// @include media-breakpoint-down(md) {
//   .iq-card {
//     .block-images {
//       .card-description.with-transition {
//         display: none;
//       }
//       &::after {
//         display: none;
//       }
//       .image-box {
//         .product-new {
//           top: 0.5rem;
//           left: 0.5rem;
//           padding: 0.275rem 0.425rem;
//         }
//         .product-premium {
//           top: 0.5rem;
//           right: 0.5rem;
//         }
//       }
//     }
//   }

//   .slick-item.first {
//     .card-hover {
//       &:hover {
//         .block-images {
//           transform: scale3d(1.1, 1.1, 1) translate3d(0%, 0, 0) perspective(31.25em);
//         }
//       }
//     }
//   }
// }

// @include media-breakpoint-down(sm) {
//   .iq-card {
//     .block-images {
//       .image-box {
//         .product-new {          
//           padding: 0.175rem 0.25rem;
//           font-size: .5rem;
//         }
//         .product-premium {
//           height: 1.2rem;
//           width: 1.2rem;
//           line-height: 1.2rem;
//           i {
//             font-size: 0.75rem;
//           }
//         }
//         .ratting-value {
//           top: .3rem;
//           left: .3rem;
//         }
//         .product-rent {
//           top: .3rem;
//           right: .3rem;
//           padding: 0.2rem;
//           font-size: 0;
//         }
//       }
//       &::after {
//         display: none;
//       }
//     }
//   }
// }

.movie-hover-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: var(--bs-gray-900);
  border-radius: 12px;
  padding: 20px;
  min-width: 450px;
  max-width: 450px;
  color: white;
  backdrop-filter: blur(10px);
  border: 1px solid var(--bs-border-color);
  .block-images {
    .image-box {
      img {
        aspect-ratio: 5/3;
        object-fit: cover;
        object-position: top;
      }
      .product-rent {
        top: auto;
        bottom: 1rem;
      } 
      .ratting-value {
        top: auto;
        bottom: 1rem;
      }
      .product-premium {
        top: auto;
        bottom: 1rem;
      }
    }
    
  }
}