// Payment History start
.payment-history{
  tr {
    th,td {
      white-space: nowrap;
    }
  }
    tr:first-child th:first-child{
      border-top-left-radius: 6px;
    }
    tr:last-child td:first-child{
      border-bottom-left-radius: 6px;
    }
    tr:first-child th:last-child{
      border-top-right-radius: 6px;
    }
    tr:last-child td:last-child{
      border-bottom-right-radius: 6px;
    }
      .payment-info{
        background-color: var(--bs-gray-900);
        tr {
          border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);   
         &:last-child{
          border: none;
         }
        }
      }        
    }
// end
// Subscription plan payment table
.plan-ui-card {
    background: var(--bs-gray-900);
    padding: 2rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  .stripe-payment-form {
      cursor: pointer;
      background-color: var(--bs-body-bg);
      margin-bottom: 1.5rem;
      border: 1px solid var(--bs-border-color);
      transition: all .3s ease-in-out;
      &:has(.form-check-input:checked) {
        background: rgba(var(--bs-primary-rgb), .1);
        border-color: var(--bs-primary);
      }
      &:hover {
        transform: translateY(-5px);
      }
      &:last-child {
        margin-bottom: 0;
      }
    .payment-radio-btn{
      position: absolute;
      top: 22px;
      right: 24px;
    }
  }
}

.payment-detail {
  padding: 30px;
  background-color: var(--bs-gray-900);

  th,
  tr,
  td {
    padding: 10px 0;
  }

}
// end